<h2>Detalhar Feedback Enviado</h2>

<div class="button-container">
  <button
    mat-raised-button
    (click)="openModal('Elogio')"
    class="custom-button green-button"
    style="background-color: rgba(0, 128, 0, 0.5)"
  >
    Elogio: <span class="circle">{{ feedBackCount[0] }}</span>
  </button>
  <button
    mat-raised-button
    (click)="openModal('Crítica')"
    class="custom-button"
    style="background-color: rgba(255, 0, 0, 0.5)"
  >
    Crítica: <span class="circle">{{ feedBackCount[1] }}</span>
  </button>
  <button
    mat-raised-button
    (click)="openModal('Sugestão')"
    class="custom-button"
    style="background-color: rgba(255, 165, 0, 0.5)"
  >
    Sugestão: <span class="circle">{{ feedBackCount[2] }}</span>
  </button>
</div>
